*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #f5f5f5;
    font-size: 14px;
    color: 14px;
    font-family: Helvetica, Arial, sans-serif;
}
input[type=text], select, textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    font-size: 14px;
  }